<% provide(:title, 'About Me') %>
<h1>About Me</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is the project that taught me how to make this web app.
  This is the sample application from the tutorial.
</p>